div{
    background-color: tomato;
    padding: 10px;
    margin-bottom: 10px;
    background-image: url('https://images.unsplash.com/photo-1719837593366-d90c06c82957?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90b3MtZmVlZHwzfHx8ZW58MHx8fHx8');
    background-repeat: no-repeat;
}